/******* Fonts Import Start **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

/********* Fonts Face CSS End **********/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Poppins !important;
    font-weight: 400;
    margin: 0;
    width: 100%;
    /* background: linear-gradient(to right, #3a7bd5, #3a6073); */
}

/******* Fonts Import Start **********/
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
/********* Fonts Face CSS End **********/

* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    font-size: 16px;
  }
  
  .clear {
    clear: both;
  }
  
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  
  a:focus,
  a:active,
  a:visited,
  a:hover {
    text-decoration: none;
    outline: none;
  }
  
  a:hover {
    color: #5ae15a;
  }
  
  h2 {
    margin-bottom: 48px;
    padding-bottom: 16px;
    /* font-size: 20px; */
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    color: #fc1855;
  }
  
  h1{
    
    font-size: 40px;
  }

.sign-up-form button {
    padding: 15px 25px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #f60042;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.login-main{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

.form-text{
    padding: 50px 0px 50px 50px;
    margin-right: 200px;
    /* font-size: 25px; */
}

.form{
    margin: 200px 0px 100px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sign-up-form{
    display: flex;
    flex-direction:column;
}

.sign-up-form input{
    padding: 15px;
    margin: 0px 0px 20px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}

.form-element a{
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.leo input{
    width: 100%;
}

